<%- include('../partials/header') %>

<h2 class="title">Add a new comment for <%= rstrnt.name %><h2>
<form id="add-comment" action="/rstrnts/<%= rstrnt._id %>/comments" method="POST">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Satisfied?</span>
        </div>
        <select name="satisfaction" class="form-control">
            <option disabled selected value></option>
            <option value=3>:)</option>
            <option value=2>:|</option>
            <option value=1>:(</option>
        </select>      
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Comment</span>
        </div>
        <textarea type="text" class="form-control" name="content"></textarea>
    </div>
    <input type="submit" class="btn" value="Add Comment">
</form>

<%- include('../partials/footer') %>
