<%- include('../partials/header') %>

<h2>Add a new comment for <%= rstrnt.name %><h2>
<form id="add-comment" action="/rstrnts/<%= rstrnt._id %>/comments" method="POST">
    <label>Satisfied?
        <select name="satisfaction">
            <option disabled selected value></option>
            <option value=1>Bad!</option>
            <option value=2>Alright</option>
            <option value=3>Great!</option>
        </select>            
    </label>
    <label>Comment:
        <input type="text" name="content">
    </label>
    <input type="submit" value="Add Comment">
</form>

<%- include('../partials/footer') %>
