<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GF Friendly</title>
    <link rel="shortcut icon" href="https://i.imgur.com/p5LSNWs.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/css2?family=Asap&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<main id="landing">
    <section id="login-options">
        <h2>Welcome to GF Friendly!</h2>
        <a href="/auth/google" class="login"><img src="https://i.imgur.com/FHjYyi0.png">&nbsp;Log in with Google</a>
        <a href="/rstrnts">Browse as a guest</a>
    </section>

    <section id="landing-descrip">
        <p>GF friendly makes it easy for celiac and gluten intolerant
            people to eat out safely! Browse restaurants, see specific
            gf menu items, and read reviews from other users. Stay
            safe out there!
        </p>
    </section>
</main>

<%- include('./partials/footer') %>