* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #fdfdfd;
}

nav {
  height: 8vh;
  max-height: 60px;
  background-color: #602f6b;
}

nav > a {
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}