* {
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
}

body, main, #landing > section, #login-options, #rstrnt-info,
#menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  /* height: 100vh; */
  margin: 0;
  color: #00203D;
  background-color: #FDFDFD;
}

main {
  width: 90%;
}

#landing {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  margin: 15%;
  height: 50%;
}

#landing > section {
  width: 50%;
  padding: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#landing-descrip, #comments {
  border-left: solid 5px #59356E;
}

#login-options > h1 {
  margin-bottom: 10%;
  font-size: 40px;
}

#landing-descrip > p {
  font-size: 16px;
}

#login-options > a {
  padding: 4% 2%;
  margin: 5%;
  width: 85%;
  color: #00203D;
  font-size: 18px;
  background-color: #FFC8DD;
  border: solid 2px #59356E;
  border-radius: 10px;
  text-decoration: none;
}

#login-options > a:hover, nav > a:hover {
  background-color: #FFAFCC;
  text-decoration: none;
  color: #00203D; 
}

.avatar {
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
}

body > nav {
  display: flex;
  height: 8vh;
  width: 100vw;
  max-height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: #59356E;
  padding: 0 20px;
}

nav > a {
  padding: 0.5%;
  color: #00203D;
  font-size: 18px;
  background-color: #FFC8DD;
  border: solid 2px white;
  border-radius: 10px;
}

.title {
  margin: 5vmin 0 1vmin 0;
  font-size: 36px;
}

#rstrnts {
  margin: 5vmin 0 0 0;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

#rstrnts > a {
  margin: 1%;
  color: #00203D;
}

#rstrnts div {
  padding: 5%;
  background-color: #BDE0FE;
  border-radius: 10px;
  min-width: 175px;
  min-height: 100px;
  text-align: center;
  font-size: 22px;
}

#rstrnts #new-rstrnt {
  background-color: #FFC8DD;
}

#rstrnts div:hover {
  background-color: #A2D2FF;
}

#rstrnts #new-rstrnt:hover {
  background-color: #FFAFCC;
}

#rstrnts > a:hover {
  text-decoration: none;
}

#rstrnt-info > p {
  font-size: 22px;
  margin: 0;
}

#rstrnt-details {
  display: flex;
  width: 90%;
  margin: 5vmin 0 0 0;
}

#rstrnt-info form, #comments form {
  display: inline-flex;
}

#rstrnt-info .btn, #rstrnt-details .btn {
  margin: 2vmin 2vmin 0 2vmin;
  font-size: 18px;
  border-radius: 10px;
  border: solid 2px #59356E;
}

#rstrnt-info .del, #rstrnt-details .del {
  background-color: #FFCBCB;
}

#rstrnt-info .edit, #rstrnt-details .edit {
  background-color: #fafad2;
}

#menus {
  width: 30%;
  padding-right: 5%;
}

#menus > p {
  font-size: 22px;
}

#menu-items { 
  display: flex;
  flex-wrap: wrap;
}

#menu-items > div {
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  background-color: #DAC8E4;
  width: fit-content;
}

#menu-items > div > * {
  display: inline-flex;
}

#menus > div .btn.del {
  font-size: 1rem;
  margin: 1px;
  padding: 2px 8px;
  border: solid 1px #59356E;
}

#add-menu {
  margin-top: 1rem;
}

.input-group input {
  border: solid 2px #59356E;
}

#plus-menu {
  color: #00203D;
  background-color: #DAC8E4;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  padding: 2px 12px;
}






#comments {
  width: 80%;
}

#comments .comment {
  background-color: #BDE0FE;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

#comments .owner {
  background-color: #FFC8DD;
}

#comments .comment img {
  height: 60px;
  border-radius: 50%;
}