<%- include('../partials/header') %>

<main id="rstrnts-index">
    <h2>Restaurants!</h2>
    <section id="rstrnts">
        <div id="add-restrnt">
            <a href="/rstrnts/new">+ Add a new restaurant</a>
        </div>
        <% rstrnts.forEach(function(r) { %>
            <div><%= r.name %></div>
        <% }); %>
    </section>
</main>

<%- include('../partials/footer') %>
