<%- include('../partials/header') %>
<h2 class="title">Add a new GF spot...</h2>

<form id="add-rstrnt" action="/rstrnts" method="POST">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input type="text" class="form-control" name="name">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Address</span>
        </div>
        <input type="text" class="form-control" placeholder="street" name="address">
        <input type="text" class="form-control" placeholder="city" name="city">
        <input type="text" class="form-control" placeholder="state" name="state">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">URL</span>
        </div>
        <input type="text" class="form-control" placeholder="https://www.-" name="link">
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Phone</span>
        </div>
        <input type="text" class="form-control" name="phone" placeholder="XXX-XXX-XXXX" pattern="[1-9]\d{2}-\d{3}-\d{4}">
    </div>
    <input type="submit" class="btn" value="Add Restaurant">
</form>

<%- include('../partials/footer') %>